<!DOCTYPE html>
<html>
<head>
  <base href='http://localhost:8000/'>
  <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' rel='stylesheet'>
</head>
<body>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
      <form method='post' role='form'>
        <div class='form-group'>
          <label>Amazon API search</label>
          <input class='form-control' name='keywords' placeholder='keywords' type='text' value='{{keywords}}'>
        </div>
        <button class='btn btn-default' type='submit'>Search</button>
      </form>
    </div>
    <div class='panel panel-default'>
      <label>Results</label>
      <ul class='list-group'>
        % for book in results:
        <li class='list-group-item'>{{book.ItemAttributes.Title}}</li>
        % end
      </ul>
    </div>
  </div>
</div>
